* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(270, 20%, 96%);
  color: hsl(270, 7%, 64%);
  font-family: 'Rubik Variable', sans-serif;
  position: relative;
}

body::before {
  background: linear-gradient(180deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 13rem 13rem;
  content: "";
  display: inline-block;
  width: 26rem;
  height: 85vh;
  position: absolute;
  left: -4rem;
  top: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem;
  position: relative;
}

.phone {
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 1.4rem;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 27rem;
}

.text {
  max-width: 25rem;
}

.text h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.text p {
  letter-spacing: 0.1px;
  line-height: 1.8;
}
