* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

body::before {
  background: linear-gradient(180deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 13rem 13rem;
  content: "";
  display: inline-block;
  width: 26rem;
  height: 85vh;
  position: absolute;
  left: -4rem;
  top: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.phone {
  border: 4px solid #fff;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 22rem;
}

.text {
  max-width: 20rem;
}
