* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.background {
  background: linear-gradient(180deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 13rem 13rem;
  width: 26rem;
  height: 85vh;
  margin-left: -4rem;
}
